.choice-time {
  display: flex;
  position: relative;
  &__list {
    display: flex;
    cursor: pointer;
    position: relative;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $border-light;
    padding: 10px 16px 4px 16px;
    position: relative;
    width: 50px;
    height: 40px;
    &:not(:first-child) {
      border-left: 0;
    }
    &::after {
      content: '';
      display: block;
      height: 9px;
      width: 1px;
      position: absolute;
      top: 0;
      left: 50%;
      background-color: $color-lightGrey-3;
    }
    &:first-child {
      border-radius: 3px 0 0 3px;
    }
    &:last-child {
      border-radius: 0 3px 3px 0;
    }
  }
  &__active-time {
    position: absolute;
    left: 700px;
    top: -1px;
    border-radius: 3px;
    border: 2px solid $color_sky;
    width: 75px;
    height: 42px;
    span {
      color: transparent;
    }
  }
}
