.controls {
  font-family: Roboto, sans-serif;
  margin-bottom: 76px;
  &__title {
    font-weight: 700;
    font-size: rem(36);
    line-height: 1.14;
    color: $color-font;
    margin-bottom: 56px;
  }
  &__row {
    display: flex;
  }
  &__name {
    color: $border-light;
    line-height: 1.14;
  }
}


