.controls {
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.14;
    color: #222222;
    margin-bottom: 56px;
  }
  &__row {
    display: flex;
  }
  &__name {
    font-family: 'Inter';
    color: #A8A8A8;
    line-height: 1.14;
  }
}


