.finish-date {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  &__name {
    color: $color-lightGrey;
    margin-right: 28px;
    font-weight: 400;
  }
  &__date {
    display: flex;
    align-items: center;
    margin-right: 27px;
    font-weight: 500;
    .date,
    .finish-date__time {
      white-space: nowrap;
    }
    .date {
      margin-right: 25px;
    }
  }
  &__date, &__time {
    color: $color_sky;
  }
  .dash {
    height: 1px;
    background-color: $color-lightGrey-3;
    display: block;
  }
  .dash-small {
    width: 27px;
    margin-right: 16px;
  }
  .dash-long {
    width: 100%;
  }
}