.header {
  background: url('/assets/img/pictures/bg-header.png') no-repeat;
  background-size: cover;
  font-family: Roboto, sans-serif;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 20px 0;
  }
  &__top-background {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(35px);
  }
  &__left {
    .logo {
      width: min-content;
    }
  }
  &__center .btn {
    margin-right: 27px;
  }
  &__bottom {
    height: 190px;
  }
}