.month {
  &__name {
    color: $color-lightGrey;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 11px;
    .name {
      margin-right: 20px;
    }
  }
  .line {
    display: inline-block;
    height: 1px;
    background-color: $color-lightGrey-3;
    width: 100%;
  }
  &__days {
    display: flex;
  }
}