.logo {
  color: $color-white;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.14;
}

.rounded-elem {
  border-radius: 3px;
}

.btn-color {
  padding: 10px 16px;
  background-color: $color_sky;
  border-radius: 3px; 
  color: $color-white;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  transition: background-color .3s;
  &:hover {
    background-color: $color_turquoise;
    transition: background-color .3s;
  }
}

.booking-input {
  width: 129px;
  height: 24px;
  margin-right: 20px;
  @include tablets {
    display: none;
  }
}

.main {
  margin-top: 46px;
}

.clock {
  display: flex;
  &__dash {
    margin: 0 5px;
  }
}

.right, .left {
  background-image: url('/assets/img/icons/arrow-slider.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 9px;
  height: 16px;
} 

.left {
  transform: rotate(-180deg);
}

.time {
  &__dash {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.close-icon {
  cursor: pointer;
  width: 11px;
  height: 12px;
}

.btn-add {
  display: flex;
  align-items: center;
  &::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 17px;
    background: url('/assets/img/icons/add.svg');
    object-fit: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
  }
}

.icon-btn-user-menu {
  display: inline-block;
  width: 22px;
  height: 12px;
  background: url('/assets/img/icons/arrow-down.svg');
}