.parameters {
  &__btn {
    font-size: 20px;
    border-radius: 3px;
    padding: 9px 28px;
    background-color: transparent;
    color: $color-lightGrey;
    border: 1px solid $color-lightGrey;
    span {
      margin-right: 23px;
    }
    &:not(:last-child) {
      margin-right: 23px;
    }
  }
}