.radioBtn {
  margin-bottom: 46px;
  &__hidden:checked + &__visible {
    background-color: $color_sky;
    transition: background-color .3s, color .3s;
    color: $color-white;
  } 
  &__hidden {
    display: none;
  }
  &__visible {
    padding: 9px 28px;
    color: $color_sky;
    border: 1px solid $color_sky;
    font-size: 20px;
    transition: background-color .3s, color .3s;
    cursor: pointer;
    line-height: 1.14;
    height: 100%;
    white-space: nowrap;
    &.active,
    &:hover {
      background-color: $color_sky;
      transition: background-color .3s, color .3s;
      color: $color-white;
    }
  }
  &__list {
    display: flex;
    #btnNotImportant {
      @include desktop-sm {
        display: none;
      }
    }
  }
  &__item:not(:last-child) {
    .radioBtn__visible {
      margin-right: -1px;
    }
  }
  &__item:first-child {
    .radioBtn__visible {
      border-radius: 3px 0 0 3px;
    }
  }
  &__item:nth-child(2) {
    .radioBtn__visible {
      @include tablets {
        border-radius: 0 3px 3px 0;
      }
    }
  }
  &__item:last-child {
    .radioBtn__visible {
      border-radius: 0 3px 3px 0;
    }
  }
  &__name {
    margin-right: 21px;
  }
  .controls__col {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 9px;
    column-gap: 21px;
  }
  .controls__col:not(:last-child) {
    margin-right: 69px;
  }
  @include tablets {
    flex-wrap: wrap;
    row-gap: 9px;
    .controls__col {
      display: flex;
      flex-direction: column;
      row-gap: 17px;
      align-items: flex-start;
    }
  }
} 