.sessions {
  display: flex;
  padding-bottom: 28px;
  margin-bottom: 39px;
  border-bottom: 1px solid $color-lightGrey-3;
  &__list {
    display: flex;
    margin-right: 28px;
  }
  &__item:first-child {
    border-radius: 3px 0 0 3px;
  }
  &__item:last-child {
    border-radius: 0 3px 3px 0;
  }
  &__btn {
    display: flex;
    align-items: center;
    height: min-content;
    &-icon {
      width: 16px;
      height: 16px;
      margin-right: 16px;
    }
  }
  .button {
    height: min-content;
    @include tablets {
      display: none;
    }
  }
}