header.header.header-landing 
  .container
    .header__wrap
      .header__left
        .header__menu-btn.rounded-elem
          .hamburger-menu
            .hamburger-menu__line
            .hamburger-menu__line
            .hamburger-menu__line
        .logo Лендинг Salud
      .header__center
        +button('Bookings', 'btn-color')
        .booking-input-wrap
          input.booking-input(type="text")
          input.booking-input(type="text")
          input.booking-input(type="text")
      .header__right 
        .profile-info
          .profile-info__user-avatar 
            img.icon-avatar(src='../assets/img/pictures/people.png')