header.header 
  .header__top-background
    .container
      .header__top
        .header__left
          .header__menu-btn.rounded-elem
            .hamburger-menu
              .hamburger-menu__line
              .hamburger-menu__line
              .hamburger-menu__line
          .logo Booking Massage
        .header__center
          +button('Добавить сеанс', 'btn-add', 'btn-color')
          .booking-input-wrap
            input.booking-input(type="text")
            input.booking-input(type="text")
            input.booking-input(type="text")
        .header__right 
          .profile-info
            .profile-info__notification.notification
              .notification__icon
              .notification__counter 1
            .profile-info__user-avatar 
              img.icon-avatar(src='../assets/img/pictures/people.png')
            .profile-info__menu-btn
              .icon-btn-user-menu
  .header__bottom
