extends ../layout/base

block variables
    - var title='Salud';
    - var description='Platform for ordering a massage';
    - var pageClass='index-page';

block content
  .container
    section.controls
      .controls__row.controls__row--btn-add
        +button('Добавить сеанс', 'btn-add', 'btn-color')
      .controls__row.controls__row--title
        h2.controls__title Bookings
        .total  
          .total__name К оплате:
          .total__value 888
          .total__currency €
      .controls__row.sessions
        .sessions__list
          .sessions__item.session.active
            .session__time 
              .session__date 19 апр
              .session__clock.clock
                .clock__start 15:00
                .clock__dash -
                .clock__finish 16:30
            .session__info 
              .session__person
                img(src='../assets/img/pictures/people.png')
              .session__price
                .session__price-value 178
                .session__price-currency €
          .sessions__item.session
            .session__time 
              .session__date 19 апр
              .session__clock.clock
                .clock__start 15:00
                .clock__dash -
                .clock__finish 16:30
            .session__info 
              .session__person
                img(src='../assets/img/pictures/people.png')
              .session__price
                .session__price-value 178
                .session__price-currency €
          .sessions__item.session
            .session__time 
              .session__date 19 апр
              .session__clock.clock
                .clock__start 15:00 
                .clock__dash - 
                .clock__finish 16:30
            .session__info 
              .session__person
                img.session__person-icon(src='../assets/img/pictures/people.png')
                img.session__person-icon(src='../assets/img/pictures/people.png')
                img.session__person-icon(src='../assets/img/pictures/people.png')
              .session__price
                .session__price-value 178
                .session__price-currency €
        +button('Добавить сеанс', 'btn-add', 'btn-color')
      form.controls__form
        .controls__row.radioBtn 
          .controls__col
            .radioBtn__name.controls__name  место
            .radioBtn__list 
              +changePlaceBtn('к себе')
              +changePlaceBtn('к терапевту', true)
              +changePlaceBtn('не важно', false, 'btnNotImportant')
          .controls__col
            .radioBtn__name.controls__name  длительность
            .radioBtn__list 
              label.radioBtn__item
                input.radioBtn__hidden(type="radio" name='time' value='длительность - 1 час' id='1hour')
                div.radioBtn__visible 1 час
              label.radioBtn__item
                input.radioBtn__hidden(type="radio" name='time' value='длительность - 1,5 часа' checked id='1.5hour')
                div.radioBtn__visible 1,5 часа
              label.radioBtn__item
                input.radioBtn__hidden(type="radio" name='time' value='длительность - 2 часа' id='2hour')
                div.radioBtn__visible 2 часа
      .controls__row.controls__row--address-choice.address-choice
        +address('Адрес 1','Город, улица Название 15 дом 2')
        +address('Адрес 2','Город, Название улица 33 дом 9')
      .controls__row.address-select
        input(type="text" placeholder='Укажите другой адрес' name='Другой адрес:').address-select__input
        .address-select__pointer 
          img.pointer-icon(src='../assets/img/icons/pointer.svg')
      .controls__row.calendar
        .calendar__wrap
          ul.calendar__list 
            li.calendar__item.month.vision
              .month__name 
                span.name апрель
                span.line  
              ul.month__days
                li.day
                  .day__number 8
                  .day__of-the-week.weekend сб
                li.day
                  .day__number 9
                  .day__of-the-week.weekend вс
                li.day
                  .day__number 10
                  .day__of-the-week пн
                li.day
                  .day__number 11
                  .day__of-the-week вт
                li.day
                  .day__number 12
                  .day__of-the-week ср
                li.day
                  .day__number 13
                  .day__of-the-week чт
                li.day
                  .day__number 14
                  .day__of-the-week пт
                li.day
                  .day__number 15
                  .day__of-the-week.weekend сб
                li.day
                  .day__number 16
                  .day__of-the-week.weekend вс
                li.day
                  .day__number 17
                  .day__of-the-week пн
                li.day
                  .day__number 18
                  .day__of-the-week вт
                li.day
                  .day__number 19
                  .day__of-the-week ср
                li.day
                  .day__number 20
                  .day__of-the-week чт
                li.day
                  .day__number 21
                  .day__of-the-week пт
                li.day
                  .day__number 22
                  .day__of-the-week.weekend сб
                li.day
                  .day__number 23
                  .day__of-the-week.weekend вс
                li.day
                  .day__number 24
                  .day__of-the-week пн
                li.day
                  .day__number 25
                  .day__of-the-week вт
                li.day
                  .day__number 26
                  .day__of-the-week ср
                li.day
                  .day__number 27
                  .day__of-the-week чт
                li.day
                  .day__number 28
                  .day__of-the-week пт
                li.day
                  .day__number 29
                  .day__of-the-week.weekend сб
                li.day
                  .day__number 30
                  .day__of-the-week.weekend вс
            li.calendar__item.month
              .month__name 
                span.name Май
                span.line  
              ul.month__days
                li.day.active
                  .day__number 1
                  .day__of-the-week пн
                li.day
                  .day__number 2
                  .day__of-the-week вт
                li.day.disactive
                  .day__number 3
                  .day__of-the-week ср
                li.day
                  .day__number 4
                  .day__of-the-week чт
                li.day
                  .day__number 5
                  .day__of-the-week пт
                li.day
                  .day__number 6
                  .day__of-the-week.weekend сб
                li.day
                  .day__number 7
                  .day__of-the-week.weekend вс
                li.day
                  .day__number 8
                  .day__of-the-week пн
                li.day
                  .day__number 9
                  .day__of-the-week вт
                li.day
                  .day__number 10
                  .day__of-the-week ср
                li.day
                  .day__number 11
                  .day__of-the-week чт
                li.day
                  .day__number 12
                  .day__of-the-week пт
                li.day
                  .day__number 13
                  .day__of-the-week.weekend сб
                li.day
                  .day__number 14
                  .day__of-the-week.weekend вс
                li.day.active
                  .day__number 15
                  .day__of-the-week пн
                li.day
                  .day__number 16
                  .day__of-the-week вт
                li.day.disactive
                  .day__number 17
                  .day__of-the-week ср
                li.day
                  .day__number 18
                  .day__of-the-week чт
                li.day
                  .day__number 19
                  .day__of-the-week пт
                li.day
                  .day__number 20
                  .day__of-the-week.weekend сб
                li.day
                  .day__number 21
                  .day__of-the-week.weekend вс
                li.day
                  .day__number 22
                  .day__of-the-week пн
                li.day
                  .day__number 23
                  .day__of-the-week вт
                li.day
                  .day__number 24
                  .day__of-the-week ср
                li.day
                  .day__number 25
                  .day__of-the-week чт
                li.day
                  .day__number 26
                  .day__of-the-week пт
                li.day
                  .day__number 27
                  .day__of-the-week.weekend сб
                li.day
                  .day__number 28
                  .day__of-the-week.weekend вс
                li.day
                  .day__number 29
                  .day__of-the-week пн
                li.day
                  .day__number 30
                  .day__of-the-week вт
                li.day
                  .day__number 31
                  .day__of-the-week ср
        .calendar__pages 
          a(href='#' data-vector="prev").left
          a(href='#' data-vector="next").right
      .controls__row.finish-date
        .finish-date__name время
        .dash.dash-small
        .finish-date__date 
          span.date 19 апреля
          .finish-date__time.time
            span.time__start 15:00
            span.time__dash -
            span.time__finish 16:30
        .dash.dash-long
      .controls__row.choice-time
        ul.choice-time__list 
          li.choice-time__item
            span 01
          li.choice-time__item
            span 02
          li.choice-time__item
            span 03
          li.choice-time__item
            span 04
          li.choice-time__item
            span 05
          li.choice-time__item
            span 06
          li.choice-time__item
            span 07
          li.choice-time__item
            span 08
          li.choice-time__item
            span 09
          li.choice-time__item
            span 10
          li.choice-time__item
            span 11
          li.choice-time__item
            span 12
          li.choice-time__item
            span 13
          li.choice-time__item
            span 14
          li.choice-time__item
            span 15
          li.choice-time__item
            span 16
          li.choice-time__item
            span 17
          li.choice-time__item
            span 18
          li.choice-time__item
            span 19
          li.choice-time__item
            span 20
          li.choice-time__item
            span 21
          li.choice-time__item
            span 22
          li.choice-time__item
            span 23
          li.choice-time__item
            span 24
          li.choice-time__item.hidden.active#active-elem
            span 25
        .choice-time__active-time
    section.cards
      .cards__header
        h3.cards__title Тепаверты
        button.cards__btn 
          span Параметры
          img.parameters-icon(src='../assets/img/icons/parameters.svg')
        .cards__parameters.pareneters 
          button.parameters__btn
            span Общий массаж
            img.close-icon(src='../assets/img/icons/close.svg')
          button.parameters__btn
            span Лечебный массаж спины
            img.close-icon(src='../assets/img/icons/close.svg')
      .cards__body 
        +cards([{img: '../assets/img/pictures/people.png', name: 'Голубева Алёна Глебовна', rating: 4.8, active: 'active'},{img: '../assets/img/pictures/people.png', name: 'Федорова Алёна Глебовна', rating: 4.4,   },{img: '../assets/img/pictures/people.png', name: 'Мутко Алёна Глебовна', rating: 4.7 },{img: '../assets/img/pictures/people.png', name: 'Грибоедова Алёна Глебовна', rating: 4.5 },{img: '../assets/img/pictures/people.png', name: 'Афанасьева Алёна Глебовна', rating: 4.1 },{img: '../assets/img/pictures/people.png', name: 'Стародубцева Алёна Глебовна', rating: 4.3 }])

