/* Vars:
   ========================================================================== */

// Font
$mainFont                : 'Roboto', Helvetica, Arial, sans-serif;
$secondFont              : 'Inter', sans-serif;

// Size
$mainFontColor          : #222222;
$mainFontSize           : 16px;
$mainFontWeight         : 400;
$mainLineHeight         : 1.4;

// Breakpoints

$bp-desktop-hd          : 1800px;
$bp-desktop             : 1200px;
$bp-desktop-sm          : 960px;
$bp-tablets             : 768px;
$bp-tablets-sm          : 680px;
$bp-phones              : 480px;
$bp-phones-sm           : 320px;
 
// Main color
$color_sky              : #00A3FF;
$color_turquoise        : #00adbb;
$color-font             : #222222;
$color-lightGrey        : #A8A8A8;
$color-lightGrey-2      : #C4C4C4;
$color-lightGrey-3      : #E5E5E5;
$color-white            : #FFFFFF;
$color-black            : #000000;
$color-coralPink        : #DC8D8D;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #A8A8A8;
$border-lighter          : #EBEEF5;